
/*desktop*/
@media (max-width: 992px) {

	
}


/*tablet*/
@media (max-width: 768px) {

	
}

/*mobile*/
@media (max-width: 480px) {


}

body {
	background: url("../img/stardust.png");
}

h2 {

	color: white;
	text-align: center;
}

h3 {

	color: white;
	text-align: center;
}

h4 {
	color: white;
	text-align: center;
}

p {
	color: red;
	font-family: 'Lato', sans-serif;
}

.y {
	color:yellow;
}

.lb{
	color: rgb(118,218,233);
}
.r {
	color: red;
}
.g {
	color: rgb(133,248,131);
}

.menu {

	text-align: center;
}
.contact {

	text-align: center;
}
.time {
	text-align: center;
}

nav a:link, 
nav a:visited {
	color: red;
}

nav a:hover, 
nav a:active {
	color: white;
}

section img,
section .plate {
  
  width: 200px;
  height: 150px;
}

section .plate {
  z-index: -1;
  opacity: 0;
  transition: opacity .25s;
}
section:hover .plate {
  z-index: 0;
  opacity: 1;
}

