
/*desktop*/
@media (max-width: 992px) {

	body {
		background: red;
	}
}


/*tablet*/
@media (max-width: 768px) {

	body {
		background: yellow;
	}
}

/*mobile*/
@media (max-width: 480px) {

	body {
		background: teal;
	}
}




h4 {

	text-align: center;
}

.contact {

	text-align: center;
}
.time {
	text-align: center;
}

section img,
section p {
  position: absolute;
  width: 200px;
}

section p {
  z-index: -1;
  opacity: 0;
  transition: opacity .25s;
}
section:hover p {
  z-index: 0;
  opacity: 1;
}

section img:hover {
	opacity: 50%;
}